html, body {margin: 1px; ;height: 100%; overflow: hidden;}

* {
  touch-action: manipulation;
}
body {
	background-image: url(IMG_4921.jpeg);
}
#lbl {
	display: block;
	font-family: myFirstFont;
}

#sclbl {
	display: block;
	font-family: myFirstFont;
}

#title {
	font-size: 50px;
	text-align: center;
	font-family: myFirstFont;
}


#form {
	position: absolute;
  top: 30%;
	left: 5%;
}

#formkey {
	position: absolute;
	top: 30%;
	left: 70%;
}

#usrinp {
	width: 250px;
	height: 50px;
}

#usrinpd {
	width: 80px;
	height: 50px;
}

#result {
	position: absolute;
	top: 70%;
	left: 5%;
	background-color: grey;
	width: 370px;
	height: 50px;
	text-align: center;
	
}

#sub {
	position: absolute;
	top: 200%;
	left: -170%;
	width: 150px;
	height: 50px;
	background-color:purple;
	font-family: myFirstFont;
	font-size: 30px;
	text-align: center;
	
}
